// li {
//     list-style: none;
// }

// li>* {
//     margin: .5rem;
// }

/* [3] Make fullwidth card span all grid columns. */
.fullwidth {
    grid-column: 1 / -1;
    padding-bottom: 1rem;
}

.is_hidden {
    display: none;
}

.section_header {
    align-items: flex-start;
    grid-column: 1 / -1;
    padding: 1rem;
    font-size: 18pt;
    font-weight: bold;
    background: #E30614;
    color: white;
}

.d_flex {
    display: flex;
}

.target_name {
    align-items: flex-start;
}
