.container {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: .7rem;

    .key {
        font-weight: bold;
        text-align: right;
    }
}

.notes {
    margin-top: .5rem;
}
