$lcc-red: #E30614;

.section_header {
    padding: 1rem;
    font-size: 18pt;
    font-weight: bold;
    background: $lcc-red;
    color: white;
}

.stats_header {
    width: 45px;
    flex-shrink: 0;
    justify-content: space-between;
    font-weight: bold;
}

.masthead_container {
    display: flex;
    align-items: center;

    a:hover {
        color: white;
    }
}

.toolbar {
    font-size: 24pt;
    background: $lcc-red;

    a {
        color: white;
        text-decoration: none;
        font-family: 'Playfair Display', serif;
    }

    a.icon {
        line-height: 0;
        padding-right: .5rem;
    }
}
