/* [1] 'auto-fit' grid columns, so no media queries required. */
/* [2] 'dense' packing fills in holes earlier in the grid. */
.grid {
    display: grid;
    // gap: 1rem;
    grid-auto-flow: dense;
    /* [2] */
    grid-template-columns: 48rem 4rem 4rem 4rem;
    /* [1] */
    justify-content: center;
    width: 60rem;

    margin: 0;
    padding: 0;

    & li {
        list-style: none;
    }

    & li>* {
        margin: .5rem;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rebeccapurple;
        outline: 0;
    }
}

@media(max-width: 600px) {
    .grid {
        justify-content: left;
        grid-template-columns: 12rem 4rem 4rem 4rem;
    }
}

.grid>* {
    align-items: flex-start;
    background: #eee;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* [3] Make fullwidth card span all grid columns. */
.fullwidth {
    grid-column: 1 / -1;
}

.is_hidden {
    display: none;
}

.fullwidth,
.is_selected {
    background: wheat;
}

.section_header {
    grid-column: 1 / -1;
    padding: 1rem;
    font-size: 18pt;
    font-weight: bold;
    background: #E30614;
    color: white;
}

.header {
    background: white;
    padding-left: 1rem;
    padding-bottom: .5rem;
    font-weight: bold;
}

.d_flex {
    display: flex;
}
